{% extends "app/layout.html" %}

{% block content %}


<div class="row" style="margin-top: 50px">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal col-md-offset-4 col-md-8">
                {% csrf_token %}
                <h4>请输入您的用户名和密码用以登录</h4>
                <hr />
                <div class="form-group">
                    <label for="id_username" class="col-md-3 control-label">用户名</label>
                    <div class="col-md-9">
                        <input class="form-control" id="id_password" name="username" placeholder="用户名" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-3 control-label">密码</label>
                    <div class="col-md-9">
                       <input class="form-control" id="id_password" name="password" placeholder="密码" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-5">
                        <input type="hidden" name="next" value="/" />
                        <a href="{%url 'register'%}" class="btn btn-primary" >注册</a>

                        <input type="submit" value="登录" class="btn btn-primary" />
                    </div>

                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">请输入正确的用户名或密码</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
